<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgeR_hRMRvwRunbTqeiQHhOSC1AYVkLt8</string>
	<key>GCM_SENDER_ID</key>
	<string>443992564565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pooper</string>
	<key>PROJECT_ID</key>
	<string>minara-8ee8c</string>
	<key>STORAGE_BUCKET</key>
	<string>minara-8ee8c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443992564565:ios:f38d520150c4ff39ffc5dc</string>
</dict>
</plist>